body {
  background: #F0F1F3;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 90%;
  max-width: 1920px;
  margin: auto;
}

.ftuit {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  /* align-items: center; */
}

.fruit-about {
  z-index: 1;
}

.fruit-about__description {
  font-weight: normal;
  font-size: 20px;
  line-height: 80%;
  /* or 36px */
  color: #333333;
}

.bg-image__block {
  position: absolute;
  top: 0;
  right: 0;
}

.fruit-about {
  align-items: center;
}

h1 {
  padding-top: 200px;
  margin-bottom: 50px;
  font-size: 60px;
  width: 45%;
  z-index: 1;
  align-items: center;
}

.yellow-font {
  color: #F8AF2A;
}

.image-fruit__picture-1 {
  position: absolute;
  top: 0;
  right: 550px;
}

.image-fruit__picture-2 {
  position: absolute;
  right: 450px;
  top: 300px;
}

.image-fruit__picture-3 {
  position: absolute;
  top: 150px;
  right: 50px;
}

.image-fruit__picture-4 {
  position: absolute;
  top: 310px;
  right: 0;
}

.image-fruit__picture-5 {
  position: absolute;
  top: 0;
  right: 40px;
}

.image-fruit__picture-7 {
  position: absolute;
  right: 300px;
  top: 150px;
}

.button-conditions {
  margin-top: 30px;
  margin-bottom: 25px;
  width: 194px;
  height: 50px;
  border-radius: 48px;
  box-shadow: 10px 10px 20px rgba(242, 153, 74, 0.25);
  cursor: pointer;
  color: #fff;
  background: #F8AF2A;
  border: none;
}

.arrow-down {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

@media (max-width: 1290px) {

  .bg-image__block,
  .image-fruit__picture-2 {
    display: none;
  }

  .phone-button {
    font-size: 16px;
  }
   
}

@media (max-width: 1024px) {

  .image-fruit__picture-1,
  .image-fruit__picture-4,
  .image-fruit__picture-5 {
    display: none;
  }

}

@media (max-width: 1000px) {

  .image-fruit {
    display: none;
  }

  h1 {
    width: 100%;
  }

  .fruit-about {
    text-align: center;
  }

}

@media (max-width: 990px) {

  .prize-img__pineapple,
  .prize-img__part1 {
    display: none;
  }

}